# Source directory
src/

# Processed data directory
data/

# logs directory
logs/

# run directory
run/

# models directory
models/

# results directory
results/

# state files in notebooks directory
notebooks/*.pt

# src initial file
src.zip

# python cache
__pycache__/

# Temporary files for experiment's outputs
*.txt

# sqlite3 databases
*.sqlite3

