# Source directory
src/

# Processed data directory
data/

# logs directory
logs/

# run directory
runs/

# models directory
models/

# results directory
results/

# state files in notebooks directory
notebooks/*.pt

# src initial file
src.zip

# python cache
__pycache__/

# Temporary files for experiment's outputs
*.txt

# sqlite3 databases
*.sqlite3

# The "chest" were I store pictures, notes and other stuff that I don't want to commit
chest/

